DATABASE_URL=/path/ABSOLUTO/para/o/projeto/indie-list/db/db.sqlite
BETTER_AUTH_SECRET=secret
BETTER_AUTH_URL=http://localhost:3000
API_BASE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000
